header {
  padding: 10px;
  background-image: -webkit-linear-gradient(top, rgba(237, 234, 237, 0.45) 0%, rgba(223, 219, 223, 0.45) 100%);
  background-image: linear-gradient(-180deg, rgba(237, 234, 237, 0.45) 0%, rgba(223, 219, 223, 0.45) 100%);
  -webkit-app-region: drag;
  border-bottom: 1px solid #f2f2f2; }
  header #appTitle {
    text-align: center;
    font-size: 14px; }
  header ul.centeredPills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    header ul.centeredPills li {
      background: rgba(243, 243, 243, 0);
      border-radius: 3px;
      box-sizing: border-box;
      -webkit-app-region: no-drag; }
      header ul.centeredPills li:hover {
        background: rgba(243, 243, 243, 0); }
      header ul.centeredPills li:focus {
        outline: 1px solid #333; }
      header ul.centeredPills li a {
        padding: 8px 25px;
        text-transform: uppercase;
        cursor: default;
        color: #333;
        -webkit-transition-duration: .2s;
                transition-duration: .2s; }
        header ul.centeredPills li a:hover {
          background: rgba(243, 243, 243, 0.3); }
    header ul.centeredPills li.active {
      background: #f3f3f3;
      color: #333;
      border: 0.5px solid #f4f4f4; }
      header ul.centeredPills li.active a {
        background: #f3f3f3;
        color: #333; }
        header ul.centeredPills li.active a:focus, header ul.centeredPills li.active a:hover {
          background: #f3f3f3;
          color: #333; }

.firstStart {
  text-align: center;
  height: calc(100vh - 79px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f3f3f3; }
  .firstStart p {
    margin: 25px auto 0 auto; }

.firstStart.draggedOver {
  background: #4181ec;
  color: #f3f3f3; }
  .firstStart.draggedOver button {
    visibility: hidden; }

.player {
  height: 82px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  color: #333;
  background-image: -webkit-linear-gradient(top, rgba(237, 234, 237, 0.45) 0%, rgba(223, 219, 223, 0.45) 100%);
  background-image: linear-gradient(-180deg, rgba(237, 234, 237, 0.45) 0%, rgba(223, 219, 223, 0.45) 100%); }
  .player .art {
    background: url(http://lorempixel.com/output/nightlife-q-c-490-490-7.jpg);
    background-size: cover;
    width: 62px;
    height: 62px;
    border-radius: 2px; }
  .player .data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .player .data .artist {
      opacity: .6;
      margin: 0; }
    .player .data .mediaControls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100px;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      height: 25px; }
      .player .data .mediaControls div {
        width: 25px;
        height: 25px; }
      .player .data .mediaControls .previous {
        background: url(../images/previous_light.png);
        background-size: cover; }
      .player .data .mediaControls .playpause {
        background: url(../images/pause_light.png);
        background-size: cover; }
      .player .data .mediaControls .playpause.playing {
        background: url(../images/play_light.png);
        background-size: cover; }
      .player .data .mediaControls .next {
        background: url(../images/next_light.png);
        background-size: cover; }
  .player .volume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .player .volume input {
      -webkit-appearance: slider-vertical;
      height: 80px;
      -ms-flex-item-align: end;
          align-self: flex-end;
      width: 20px; }
    .player .volume div {
      width: 25px;
      height: 25px;
      background: url(../images/soundon_light.png);
      background-size: cover;
      -ms-flex-item-align: end;
          align-self: flex-end;
      width: 20px; }

.card {
  height: 60px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333; }
  .card:nth-child(even) {
    background: #ececec; }
  .card .art {
    height: 40px;
    width: 40px;
    background: url(../images/album-art-default.svg);
    background-size: cover;
    border-right: 3px;
    margin-right: 10px; }
  .card .info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1px 0; }
    .card .info p {
      margin: 0; }
    .card .info .details {
      opacity: .6; }

body {
  margin: 0;
  font: caption;
  background: rgba(243, 243, 243, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  outline: none; }
  body .content {
    min-height: calc(100vh - 164px);
    top: 82px;
    background: #f3f3f3;
    width: 100vw;
    position: fixed;
    bottom: 82px;
    display: none;
    overflow-y: scroll; }
