.card
  height: 60px
  padding: 10px
  display: flex
  flex-direction: row
  justify-content: space-between
  color: $primaryText
  &:nth-child(even)
    background: darken($primaryBackground, 1.8)
  &.is-playing
    // macOS blue color
    // background: #007AFF
    // Custom purple
    background: #7e85bb
    p
      color: $primaryBackground !important

  .card__art
    height: 40px
    width: 40px
    background: url(../images/album-art-default.svg)
    background-size: cover
    border-right: 3px
    margin-right: 10px

  .card__info
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 2px 0
    // allows text ellipsis despite flexbox
    min-width: 0

    p
      margin: 0
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    .card__details
      opacity: .6
