.firstStart
  text-align: center
  height: calc(100vh - 79px)
  display: flex
  padding: 10px 50px
  flex-direction: column
  justify-content: center
  z-index: 100
  position: fixed
  bottom: 0
  width: 100%
  background: $primaryBackground

  p
    margin: 25px auto 0 auto

.firstStart.draggedOver
  background: $accent
  color: $primaryBackground

  button
    visibility: hidden
